<div class="activities__box">
    <div class="activities__boxHeader roomListRoom__header">
        <a href="{% url 'user-profile' activity.room.host.id %}" class="roomListRoom__author">
            <div class="avatar avatar--small">
                <img src="{{activity.room.host.avatar.url}}" />
            </div>
            <p>
                @{{activity.room.host}}
                <span>{{activity.date_issued|timesince}} ago</span>
            </p>
        </a>

        {% if request.user == activity.room.host %}
        <div class="roomListRoom__actions">
            <a href="{% url 'delete-room' activity.room.id %}">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <title>remove</title>
                <path
                d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z">
                </path>
            </svg>
            </a>
        </div>
        {% endif %}


    </div>
    <div class="activities__boxContent">
        <p class="mb">{{activity.message}}<a href="{% url 'room' activity.room.id %}">
        </a></p>
        <span id="new-room" class="activities__boxRoomContent mt">
            <a href="{% url 'room' activity.room.pk %}">{{activity.room}} </a>
        </span>

    </div>

</div>
